/* You can add global styles to this file, and also import other style files */

html {
  border: 1px solid #d7d7d7;
  overflow-y: hidden;
}

body {
  background: transparent;
  overflow-y: hidden;
}
